[project]
name = "data-load-script"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "dlt[https,postgres,workspace]>=1.20.0",
]
