/**
  * Custom styles for admonition tips in Sphinx documentation.
  */

/* tip */
div.admonition.tip {
  background-color: #e0f7fa;
  border-radius: 3px;
  border: 1px solid #00bcd4;
  border-left: 5px solid #00bcd4;
}

/* seealso */
div.admonition.seealso {
  background-color: #e8f5e9;
  border-radius: 3px;
  border: 1px solid #4caf50;
  border-left: 5px solid #4caf50;
}

/* note */
div.admonition.note {
  /* use light blue color */
  background-color: #e3f2fd;
  border-radius: 3px;
  border: 1px solid #448aff;
  border-left: 5px solid #448aff;
}

/* laughter */
div.admonition.laughter {
  background-color: #fffde7;
  border-radius: 3px;
  border: 1px solid #ffc107;
  border-left: 5px solid #ffc107;
}
